In [2]:
# imports usefull libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates

In [13]:
book_df = pd.read_csv('data/books.csv')
tags_df = pd.read_csv('data/tags.csv')
book_tags_df = pd.read_csv('data/book_tags.csv')
ratings_df = pd.read_csv('data/ratings.csv')

## Book Data Frame EDA

In [14]:
book_df.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [15]:
book_df.shape

(10000, 23)

In [16]:
book_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   book_id                    10000 non-null  int64
 1   goodreads_book_id          10000 non-null  int64
 2   best_book_id               10000 non-null  int64
 3   work_id                    10000 non-null  int64
 4   books_count                10000 non-null  int64
 5   isbn                       9300 non-null   object
 6   isbn13                     9415 non-null   float64
 7   authors                    10000 non-null  object
 8   original_publication_year  9979 non-null   float64
 9   original_title             9415 non-null   object
 10  title                      10000 non-null  object
 11  language_code              8916 non-null   object
 12  average_rating             10000 non-null  float64
 13  ratings_count              10000 non-null  int64
 14  work_ratings_count         10000 non-null  int64
 15  work_text_reviews_count    10000 non-null  int64
 16  ratings_1                  10000 non-null  int64
 17  ratings_2                  10000 non-null  int64
 18  ratings_3                  10000 non-null  int64
 19  ratings_4                  10000 non-null  int64
 20  ratings_5                  10000 non-null  int64
 21  image_url                  10000 non-null  object
 22  small_image_url            10000 non-null  object
dtypes: float64(3), int64(13), object(7)
memory usage: 1.8+ MB

In [17]:
book_df.drop(columns=['image_url','small_image_url'],inplace = True)
book_df.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,eng,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,eng,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,en-US,3.57,3866839,3916824,95009,456191,436802,793319,875073,1355439
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,eng,4.25,3198671,3340896,72586,60427,117415,446835,1001952,1714267
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,eng,3.89,2683664,2773745,51992,86236,197621,606158,936012,947718

In [18]:
book_df[book_df['goodreads_book_id'] != book_df['best_book_id']]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
29,30,8442457,19288043,13306276,196,297859382,9.780298e+12,Gillian Flynn,2012.0,Gone Girl,...,eng,4.03,512475,1626519,121614,38874,80807,280331,616031,610476
32,33,930,929,1558965,220,739326228,9.780739e+12,Arthur Golden,1997.0,Memoirs of a Geisha,...,eng,4.08,1300209,1418172,25605,23500,59033,258700,517157,559782
37,38,14050,18619684,2153746,167,965818675,9.780966e+12,Audrey Niffenegger,2003.0,The Time Traveler's Wife,...,eng,3.95,746287,1308667,43382,44339,85429,257805,427210,493884
53,54,11,386162,3078186,257,345391802,9.780345e+12,Douglas Adams,1979.0,The Hitchhiker's Guide to the Galaxy,...,en-US,4.20,936782,1006479,20345,21764,41962,145173,299579,498001
83,84,7677,6424171,3376836,176,030734813X,9.780307e+12,Michael Crichton,1990.0,Jurassic Park,...,spa,3.96,447833,650483,8143,15736,34222,138327,231583,230615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9776,9777,8428984,8428985,13292213,10,NaN,NaN,Hugh Howey,2010.0,NaN,...,en-GB,3.70,5012,10231,787,161,799,3139,3942,2190
9786,9787,18271235,20385637,25734842,12,1476738963,9.781477e+12,Laura McBride,2014.0,We Are Called to Rise,...,eng,3.94,5687,9458,1555,100,389,2094,4241,2634
9892,9893,16081202,17978160,21880142,11,NaN,NaN,Emery Lord,2014.0,Open Road Summer,...,eng,3.91,5017,11408,1335,271,674,2663,4002,3798
9898,9899,25813921,27213329,45670634,32,1442397144,9.781442e+12,Angela Duckworth,2016.0,"Grit: Passion, Perseverance, and the Science o...",...,eng,4.08,7971,17123,1634,303,657,3023,6540,6600
9970,9971,12602078,25781538,17617275,8,NaN,NaN,Melody Anne,2011.0,NaN,...,eng,3.87,10989,17606,881,395,1182,4378,6060,5591

In [63]:
book_df['authors'].value_counts().head(10)

Stephen King       60
Nora Roberts       59
Dean Koontz        47
Terry Pratchett    42
Agatha Christie    39
Meg Cabot          37
James Patterson    36
David Baldacci     34
J.D. Robb          33
John Grisham       33
Name: authors, dtype: int64

In [68]:
book_df[book_df['authors'] == 'Brandon Sanderson'][['original_title','title','average_rating']].head(10)

,original_title,title,average_rating
388,Mistborn : The Final Empire,"The Final Empire (Mistborn, #1)",4.43
561,The Way of Kings,"The Way of Kings (The Stormlight Archive, #1)",4.64
564,NaN,"The Well of Ascension (Mistborn, #2)",4.35
602,The Hero of Ages,"The Hero of Ages (Mistborn, #3)",4.46
861,Words of Radiance,"Words of Radiance (The Stormlight Archive, #2)",4.77
969,Steelheart,"Steelheart (The Reckoners, #1)",4.16
1048,Elantris,"Elantris (Elantris, #1)",4.17
1199,The Alloy of Law,"The Alloy of Law (Mistborn, #4)",4.20
1664,Warbreaker,"Warbreaker (Warbreaker, #1)",4.22
2117,Firefight,"Firefight (The Reckoners, #2)",4.29

## Tags Data Frame EDA

In [19]:
tags_df.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [23]:
tags_df.shape

(34252, 2)

## Book_Tags EDA

In [46]:
book_tags_df.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [47]:
book_tags_df.shape

(999912, 3)

In [48]:
book_tags_df['goodreads_book_id'].value_counts()

1           100
6344097     100
6338619     100
6339304     100
6339664     100
           ...
91571       100
33288638    100
280958       94
18607805     62
22931009     56
Name: goodreads_book_id, Length: 10000, dtype: int64

In [53]:
book_tags_df2 = pd.merge(book_tags_df, tags_df, on = 'tag_id', how = 'left')

book_tags_df2.head(12)

    goodreads_book_id  tag_id   count           tag_name
0                   1   30574  167697            to-read
1                   1   11305   37174            fantasy
2                   1   11557   34173          favorites
3                   1    8717   12986  currently-reading
4                   1   33114   12716        young-adult
5                   1   11743    9954            fiction
6                   1   14017    7169       harry-potter
7                   1    5207    6221        books-i-own
8                   1   22743    4974              owned
9                   1   32989    4364                 ya
10                  1   27199    3857             series
11                  1   11590    3456         favourites

In [60]:
popul_tags = book_tags_df2['tag_name'].value_counts()

popul_tags.head(10)

to-read              9983
favorites            9881
owned                9858
books-i-own          9799
currently-reading    9776
library              9415
owned-books          9221
fiction              9097
to-buy               8692
kindle               8316
Name: tag_name, dtype: int64

## Ratings EDA

In [21]:
ratings_df.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [58]:
ratings_df.shape

(5976479, 3)

AttributeError: 'DataFrame' object has no attribute 'sort_by'